#logo {
    text-align: center;
    margin-bottom: 20px;
}
#logo img {
    max-width: 600px; /* Set the maximum width for the logo */
    max-height: 128px; /* Set the maximum height for the logo */
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px 8px;
    text-align: left;
    font-size: 14px;
    font-weight: 500; /* Add this line to increase the font weight */
}
th {
    background-color: #34495E; /* Change header background color for more contrast */
    color: #ffffff; /* Change header text color for more contrast */
    cursor: pointer;
}
tr:hover {background-color: #ddd;}
tr:nth-child(even) {background-color: #f9f9f9;}
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #2E86C1;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; /* Make the text uppercase */
    color: #2980b9; /* Change the color of the heading */
    border-bottom: 2px solid #2980b9; /* Add a border at the bottom */
    padding-bottom: 5px; /* Add some spacing between the text and the border */
    margin-top: 30px; /* Add some spacing above the heading */
}
h3 {
    margin-left: 20px;
    color: #21618C;
}
h4 {
    margin-left: 40px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    background-color: #f2f2f2; /* Add this line to set a background color */
    border: 1px solid #ddd; /* Add this line to set a border */
    padding: 4px; /* Add this line to add some padding around the text */
    border-radius: 4px; /* Add this line to give the border rounded corners */
}
table {
    margin-left: 40px;
}
a {
    color: #3498DB;
}
.arrow {
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
}
body {
    font-family: Arial, sans-serif; /* Add a default font family */
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Add a subtle gradient background */
}
.container {
    max-width: 1000px; /* Set the maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0 20px; /* Add some padding to the left and right of the content */
}
.rotated {
    transform: rotate(90deg);
}
.kb-number {
    font-size: 22px;
    font-weight: bold;
    color: #2C3E50; /* Change the text color to a dark blue */
    margin-right: 10px; /* Add some margin to separate it from the rest of the text */
}